{% extends "base.html" %}

{% block content %}
  <div class="media">
    <div class="img avatar">
      <img src="{{ user.avatar_url }}">
    </div>
    <div class="body">
      <h1 style="margin-top: 0; padding-top: 0">{{ user.name }}</h1>
      <p><a href="{{ user.link }}" target="_blank" rel="nofollow">{{
      user.name }}</p>
      <ul>
        {% for follower in followers %}
          <li><a href="{{ avatar_url }}">{{ follower.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
